In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('소상공인시장진흥공단_상가(상권)정보_서울_20200630.csv', sep='|')
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19964615,석봉토스트,NaN,Q,음식,Q07,패스트푸드,Q07A10,토스트전문,I56192,...,1121510300100770047020647,NaN,"서울특별시 광진구 자양로39길 20, (구의동)",143200,4992.0,NaN,1,NaN,127.088387,37.549245
1,19977290,피자마루,약수점,Q,음식,Q07,패스트푸드,Q07A01,피자전문,I56192,...,1114016200103720095000001,현진빌딩,"서울특별시 중구 동호로7길 37, (신당동)",100450,4596.0,NaN,1,NaN,127.010861,37.552153
2,19979960,홍능갈비,NaN,Q,음식,Q01,한식,Q01A02,갈비/삼겹살,I56111,...,1150010300110860003013118,NaN,"서울특별시 강서구 화곡로18길 31, (화곡동)",157010,7718.0,NaN,1,NaN,126.836078,37.538927
3,19983535,초밥왕,NaN,Q,음식,Q03,일식/수산물,Q03A03,음식점-초밥전문,I56113,...,1171010200100070028000237,현대타워아파트,"서울특별시 송파구 올림픽로 293-19, (신천동, 현대타워아파트)",138735,5510.0,NaN,1,NaN,127.102490,37.515149
4,19969945,에브리돈,북가좌점,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1141011900103070003002306,NaN,"서울특별시 서대문구 응암로 65, (북가좌동)",120130,3681.0,NaN,1,NaN,126.910288,37.579029

In [3]:
df['상권업종대분류명'].value_counts()

음식          124001
소매          123003
생활서비스        64529
학문/교육        29985
부동산          14975
관광/여가/오락     10454
숙박            2971
스포츠            403
Name: 상권업종대분류명, dtype: int64

In [4]:
# 대분류 음식만 분류하기
df = df[df['상권업종대분류명'] == '음식']

In [6]:
# 중구 데이터만 분류하기 
junggu = df[df['도로명주소'].str.contains('중구')]
junggu.head(3)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
1,19977290,피자마루,약수점,Q,음식,Q07,패스트푸드,Q07A01,피자전문,I56192,...,1114016200103720095000001,현진빌딩,"서울특별시 중구 동호로7길 37, (신당동)",100450,4596.0,NaN,1,NaN,127.010861,37.552153
9,19973708,왕실,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1114012700101050000019781,NaN,"서울특별시 중구 남대문로 52-13, (명동2가)",100810,4535.0,NaN,1,NaN,126.982419,37.562274
59,20810221,맛생맛사,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1114011000100560012019216,NaN,"서울특별시 중구 을지로9길 16, (수표동)",100230,4542.0,NaN,1,NaN,126.988490,37.566984

In [7]:
junggu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5152 entries, 1 to 370268
Data columns (total 39 columns):
상가업소번호       5152 non-null int64
상호명          5152 non-null object
지점명          1177 non-null object
상권업종대분류코드    5152 non-null object
상권업종대분류명     5152 non-null object
상권업종중분류코드    5152 non-null object
상권업종중분류명     5152 non-null object
상권업종소분류코드    5152 non-null object
상권업종소분류명     5152 non-null object
표준산업분류코드     5127 non-null object
표준산업분류명      5127 non-null object
시도코드         5152 non-null int64
시도명          5152 non-null object
시군구코드        5152 non-null int64
시군구명         5152 non-null object
행정동코드        5152 non-null int64
행정동명         5152 non-null object
법정동코드        5152 non-null int64
법정동명         5152 non-null object
지번코드         5152 non-null int64
대지구분코드       5152 non-null int64
대지구분명        5152 non-null object
지번본번지        5152 non-null int64
지번부번지        3851 non-null float64
지번주소         5152 non-null object
도로명코드        5152 non-null int64
도로명          5152 non-null object
건물본번지        5152 non-null int64
건물부번지        941 non-null float64
건물관리번호       5152 non-null object
건물명          2110 non-null object
도로명주소        5152 non-null object
구우편번호        5152 non-null int64
신우편번호        5152 non-null float64
동정보          192 non-null object
층정보          3939 non-null object
호정보          668 non-null object
경도           5152 non-null float64
위도           5152 non-null float64
dtypes: float64(5), int64(11), object(23)
memory usage: 1.6+ MB

In [17]:
junggu['상권업종소분류명'].value_counts()

한식/백반/한정식      1177
커피전문점/카페/다방     903
라면김밥분식          315
호프/맥주           222
정통양식/경양식        218
               ...
찐빵전문              1
홍어전문              1
바닷가재/게요리전문        1
야식집               1
생과자점              1
Name: 상권업종소분류명, Length: 99, dtype: int64

In [30]:
# 카페 매장 순위로 정렬
pd.set_option('display.max_rows', 10)
junggu[junggu['상권업종소분류명'] == '커피전문점/카페/다방']['상호명'].value_counts().to_frame()

                 상호명
간단하지만특별한화피디Cafe   53
스타벅스              34
이디야커피             15
투썸플레이스            14
공차                11
...              ...
슈가링스               1
디리베                1
스타벅스명동길점           1
비안                 1
까페워크샵              1

[691 rows x 1 columns]

In [ ]:
# 갯수 상위 10위 카페
# '스타벅스', '이디야', '투썸플레이스', '공차', '커피빈', '엔제리너스', '할리스', '빽다방', '폴바셋', '탐앤탐스'

In [32]:
imsi = junggu[junggu['상호명'].str.contains('스타벅스')]
list = ['이디야', '투썸플레이스', '공차', '커피빈', '엔제리너스', '할리스', '빽다방', '폴바셋', '탐앤탐스']

for n in range(9):
    imsi2 = junggu[junggu['상호명'].str.contains(list[n])]
    imsi = pd.concat([imsi, imsi2])

imsi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173 entries, 32303 to 357117
Data columns (total 39 columns):
상가업소번호       173 non-null int64
상호명          173 non-null object
지점명          147 non-null object
상권업종대분류코드    173 non-null object
상권업종대분류명     173 non-null object
상권업종중분류코드    173 non-null object
상권업종중분류명     173 non-null object
상권업종소분류코드    173 non-null object
상권업종소분류명     173 non-null object
표준산업분류코드     173 non-null object
표준산업분류명      173 non-null object
시도코드         173 non-null int64
시도명          173 non-null object
시군구코드        173 non-null int64
시군구명         173 non-null object
행정동코드        173 non-null int64
행정동명         173 non-null object
법정동코드        173 non-null int64
법정동명         173 non-null object
지번코드         173 non-null int64
대지구분코드       173 non-null int64
대지구분명        173 non-null object
지번본번지        173 non-null int64
지번부번지        109 non-null float64
지번주소         173 non-null object
도로명코드        173 non-null int64
도로명          173 non-null object
건물본번지        173 non-null int64
건물부번지        12 non-null float64
건물관리번호       173 non-null object
건물명          114 non-null object
도로명주소        173 non-null object
구우편번호        173 non-null int64
신우편번호        173 non-null float64
동정보          9 non-null object
층정보          152 non-null object
호정보          21 non-null object
경도           173 non-null float64
위도           173 non-null float64
dtypes: float64(5), int64(11), object(23)
memory usage: 54.1+ KB

In [33]:
imsi['상호명'].value_counts()

스타벅스            34
투썸플레이스          15
이디야커피           15
공차              11
커피빈             10
                ..
스타벅스남산스테이트       1
엔제리너스명동L7호텔점     1
폴바셋신세계본점         1
스타벅스명동역          1
스타벅스을지로센타        1
Name: 상호명, Length: 69, dtype: int64

In [34]:
j_cafe = imsi

In [36]:
# 우리가 필요한 칼럼은 상호명, 지점명, 도로명주소, 경도, 위도
j_cafe = j_cafe[['상호명', '지점명', '도로명주소', '경도', '위도']]

In [37]:
j_cafe.to_csv('서울특별시_중구_카페_정보.csv', index=False, encoding='utf-8')